upstream backend {
    {% for host in groups['app'] %}
    server {{ hostvars[host].ansible_host }}:80;
    {% endfor %}

    keepalive 32;
}

server {
    listen 3000;
    server_name _;
    
    location / {
        proxy_pass http://backend;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
        # Таймауты
        proxy_connect_timeout 5s;
        proxy_send_timeout 10s;
        proxy_read_timeout 10s;
    }
}
